body {
  background-color: lavender
}
h1 {
  font-size: 50px;
  font-family: cursive;
  border: 1px solid lavender;
    
  margin-left:100px
}
img {
  float: left;
  width: 300px;
  height: 260px;
}
body {
  font-family: Arial;
}
br {
  color:gray 
}
h2 {
  background: gray;
  text-align: center;
  color: beige;
  padding-left:10px;
  margin-right:100px
}
.container {
  margin: 10px auto;
  width: 20%;
}
#floated {
  float: left;
    width: 150px;
}
td {
    border: solid 2px gray;
}
h5 {
  background: black;
    color: White;
  border: 1px solid black;
  padding-left: 10px
}
